
@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; }
body,td,th { font-size: 14px; }
body { font-size: 14px; font:"微软雅黑"; color:#FFF; background:url("sy.png"/*tpa=http://www.wudaoxie666.com/images/sy.png*/) #1a1512; margin:0px;}

a { font-size: 14px; color: #FFF; }
a:link { text-decoration: none;}
a:visited { text-decoration: none; color:#FFF; }
a:hover { text-decoration: none; color:#900; text-decoration:none;}
a:active { text-decoration: none; color: #900;}
ul {  margin:0 0 0 0; padding: 0; list-style: none; }
img{ border:0;}


#Version { width:100%; height:1382px; position:relative; overflow:hidden;}/*页面总高度再次调整*/
#Flash { width:1920px; height:889px; position:absolute; left:50%; margin:0 auto 0 -960px; z-index:2;}/*FLASH*/
#Header { margin:0 auto 0 -960px; width:1920px; height:889px; position:absolute; left:50%; z-index:1;}/*BG*/
#Header_1 { margin:0 auto 0 -960px; width:1920px; overflow:hidden; position:absolute; left:50%; z-index:3;}/*BG*/
#Header_2 { margin:0 auto 0 -960px; top:889px; width:1920px; overflow:hidden; position:absolute; left:50%; z-index:1;}/*BG*/

.head_1 { width:1260px; margin: 0 auto; position:absolute; left:50%; margin-left:-630px; overflow:hidden; z-index:4;}/*整体*/
.head_2 { width:1260px; height:1382px; position:relative;}
.head_3 { background:url("m1.png"/*tpa=http://www.wudaoxie666.com/images/m1.png*/); width:829px; height:559px; bottom:10px; left:0; position:absolute; z-index:5;}
.head_4 { background:url("m2.png"/*tpa=http://www.wudaoxie666.com/images/m2.png*/); width:431px; height:644px; bottom:10px; right:0; position:absolute; z-index:5;}
.head_5 { width:333px; height:163px; position:absolute; top:728px; right:58px; z-index:6;}
.head_6 { width:333px; height:163px; position:absolute; top:728px; right:58px; z-index:7;}

.head_7 { width:165px; height:58px; position:absolute; top:909px; right:225px; z-index:7; background:url("btn2.jpg"/*tpa=http://www.wudaoxie666.com/images/btn2.jpg*/); background-position:left 0; transition:0.5s;}
.head_7:hover { background-position:left -58px;}
.head_8 { width:165px; height:58px; position:absolute; top:909px; right:58px; z-index:7; background:url("btn3.jpg"/*tpa=http://www.wudaoxie666.com/images/btn3.jpg*/); background-position:left 0; transition:0.5s;}
.head_8:hover { background-position:left -58px;}

.head_9 { width:165px; height:58px; position:absolute; top:968px; right:225px; z-index:7; background:url("btn4.jpg"/*tpa=http://www.wudaoxie666.com/images/btn4.jpg*/); background-position:left 0; transition:0.5s;}
.head_9:hover { background-position:left -58px;}
.head_10 { width:165px; height:58px; position:absolute; top:968px; right:58px; z-index:7; background:url("btn5.jpg"/*tpa=http://www.wudaoxie666.com/images/btn5.jpg*/); background-position:left 0; transition:0.5s;}
.head_10:hover { background-position:left -58px;}


.head_11 { background:url("ad.jpg"/*tpa=http://www.wudaoxie666.com/images/ad.jpg*/); width:331px; height:311px; position:absolute; top:1033px; right:59px; z-index:7;}
.head_12 { position:absolute; top:860px; left:145px; width:555px; height:28px; z-index:7; line-height:28px; text-align:center;}
.head_12 a { font-size:18px; font-family:"微软雅黑"; color:#F00; font-weight:200;  animation-name:cmyani; animation-duration:0.2s; animation-iteration-count:infinite;}

@keyframes cmyani {
	
	0%{ color:#F00;}
	10%{ color:#000;}
	}

.head_13 { position:absolute; top:930px; left:83px; width:680px; overflow:hidden; line-height:40px; text-align:center; border-radius:2em; background:#1c1107; border:double 1px #756c62; z-index:7;}
.head_13 a { font-family:"微软雅黑"; font-size:22px; font-weight:200; color:#f6e5c3;}

.head_14 { position:absolute; top:985px; left:83px; width:680px; overflow:hidden; z-index:7;}

.head_15 li { display:block; width:678px; overflow:hidden; line-height:27px; text-align:left; border:double 1px #b7b090; margin-bottom:5px; transition:0.5s; background:#1a1201; border-radius:1em;}
.head_15 li:hover { background:#370000; transition:0.5s; border-radius:2em;}
.head_15 li a { display:block; padding:0 0 0 40px; font-family:"微软雅黑"; font-weight:200; color:#FFC; font-size:14px;}
.head_15 li a:hover { color:#0F0; animation-name:bmyani; animation-duration:1s;}
.head_15 li span { display:block; background:url("hot.jpg"/*tpa=http://www.wudaoxie666.com/images/hot.jpg*/) 10px center no-repeat;}

@keyframes bmyani {
	
	0%{ margin-left:50px;}
	
	}
	
	
.head_16 { background:url("foot.jpg"/*tpa=http://www.wudaoxie666.com/images/foot.jpg*/) bottom center no-repeat;}
.head_17 { margin:0 auto; width:1200px; overflow:hidden;}

.head_18 { background:url("zb02.jpg"/*tpa=http://www.wudaoxie666.com/images/zb02.jpg*/) repeat-y;}
.head_19 { background:url("zb01.jpg"/*tpa=http://www.wudaoxie666.com/images/zb01.jpg*/) top no-repeat;}
.head_20 { background:url("zb03.jpg"/*tpa=http://www.wudaoxie666.com/images/zb03.jpg*/) bottom no-repeat;}

.head_21 { background:url("zb05.jpg"/*tpa=http://www.wudaoxie666.com/images/zb05.jpg*/) repeat-y;}
.head_22 { background:url("zb04.jpg"/*tpa=http://www.wudaoxie666.com/images/zb04.jpg*/) top no-repeat;}
.head_23 { background:url("zb06.jpg"/*tpa=http://www.wudaoxie666.com/images/zb06.jpg*/) bottom no-repeat;}

.head_24 { background:url("zb08.jpg"/*tpa=http://www.wudaoxie666.com/images/zb08.jpg*/) repeat-y;}
.head_25 { background:url("zb07.jpg"/*tpa=http://www.wudaoxie666.com/images/zb07.jpg*/) top no-repeat;}
.head_26 { background:url("zb09.jpg"/*tpa=http://www.wudaoxie666.com/images/zb09.jpg*/) bottom no-repeat;}

.head_27 {}
.head_27 img { border:double 1px #756c62; border-radius:1em;}


.footer { margin:0 0 0 0; background:url("bg-1.jpg"/*tpa=http://www.wudaoxie666.com/foot_img/bg.jpg*/) top repeat-x #000;}
.footer_1 { margin:0 auto; width:1200px; overflow:hidden; font-size:12px; line-height:24px;}
.footer_1 img { border-radius:1em;}
.footer_1 a { font-size:12px;}
.footer_1 span { font-size:12px;}
.footer_1 p { font-size:12px;}


.ding_3 { position:absolute; top:13px; left:0; z-index:6;}
.ding_3 a {border-radius:1em; background:#900; font-size:16px; font-weight:200; color:#FFC; border:double 1px #F00; display:block; padding:5px 15px; transition:0.5s;}
.ding_3 a:hover { background:#000; color:#F00;}

.ding_4 { position:absolute; top:13px; left:120px; z-index:6;}
.ding_4 a {border-radius:1em; background:#900; font-size:16px; font-weight:200; color:#FFC; border:double 1px #F00; display:block; padding:5px 15px; transition:0.5s;}
.ding_4 a:hover { background:#000; color:#F00;}

.ding_5 { position:absolute; top:13px; left:225px; z-index:6;}
.ding_5 a {border-radius:1em; background:#900; font-size:16px; font-weight:200; color:#FFC; border:double 1px #F00; display:block; padding:5px 15px; transition:0.5s;}
.ding_5 a:hover { background:#000; color:#F00;}

.ding_6 { position:absolute; top:13px; left:330px; z-index:6;}
.ding_6 a {border-radius:1em; background:#900; font-size:16px; font-weight:200; color:#FFC; border:double 1px #F00; display:block; padding:5px 15px; transition:0.5s;}
.ding_6 a:hover { background:#000; color:#F00;}

.ding_7 { position:absolute; top:13px; left:435px; z-index:6; border:double 1px #F00; border-radius:1em; background:#900; width:780px; height:30px;}

.ding_1 { position:absolute; top:14px; left:445px; width:760px; height:30px; line-height:30px; z-index:6;}
.ding_1 a { font-family:"微软雅黑"; font-weight:200; color:#FF9; font-size:18px; display:block;}

.ding_2 { position:absolute; top:13px; right:0; width:30px; height:30px;}
.ding_2 a img { width:30px; height:30px; opacity:0.5; transition:0.5s; border-radius:2em;}
.ding_2 a img:hover { opacity:1;}

.kv-music{position:fixed;z-index:50;top:50px;left:50px; width:58px;height:100px;}



.navlogo,.nav-box,.tj-btn {overflow: hidden }
.navlogo,.nav,.tj-btn {display: block }
.nav-box {position: fixed; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+100)); background-repeat: no-repeat; margin: 0; padding: 0; z-index: 99999; background-position: center; background-image: url("nav-box.jpg"/*tpa=http://www.wudaoxie666.com/left/nav-box.jpg*/); background-color: transparent; width: 162px; height: 567px; top: 30%; right: 10px }
.nav-box-2 {background-image: url("nav-box-2.jpg"/*tpa=http://www.wudaoxie666.com/left/nav-box-2.jpg*/); width: 146px; height: 519px }
.nav-box-2 .logo {height: 128px }
.nav-box-2 .nav {width: 117px; margin-bottom: 9px }
.nav-box-2 .active,.nav-box-2 .nav:hover {width: 121px }
.nav-box-2 .tj-btn {width: 100%; height: 96px; background: url("goto-2.png"/*tpa=http://www.wudaoxie666.com/left/goto-2.png*/) center no-repeat }
.nav-box-2 .tj-btn:hover {background-image: url("goto-2-hover.png"/*tpa=http://www.wudaoxie666.com/left/goto-2-hover.png*/) }
.nav {text-align: center; width: 130px; height: 30px; line-height: 30px; font-size: 16px; margin-bottom: 12px; color: #8b8b8b; background: url("icon-1.png"/*tpa=http://www.wudaoxie666.com/left/icon-1.png*/) center right no-repeat; -webkit-transition: .2s; transition: .2s }
.nav.active,.nav:hover {background: url("icon-2.png"/*tpa=http://www.wudaoxie666.com/left/icon-2.png*/) center right no-repeat; width: 134px; color: #d1ac5c }
.nav:hover {text-decoration: none }
.navlogo {width: 150px; height: 120px; margin-top:30px;margin-left:5px}
.tj-btn {position: absolute; bottom: 0; left: 0; width: 162px; height: 106px; background: url("goto.png"/*tpa=http://www.wudaoxie666.com/left/goto.png*/) center no-repeat; text-indent: -99999px }
.tj-btn:hover {background-image: url("goto-hover.png"/*tpa=http://www.wudaoxie666.com/left/goto-hover.png*/) }








/*幻灯*/
.container {
	WIDTH: 331px;
	HEIGHT: 311px
}
.container A IMG {
	WIDTH: 331px;
	HEIGHT: 311px
}
.container IMG {
	BORDER-BOTTOM-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-TOP-STYLE: none;
	BORDER-LEFT-STYLE: none
}
.td_f A IMG {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
.num {
	POSITION: absolute;
	WIDTH: 90px;
	FLOAT: right;
	TOP: 270px;
	LEFT: 150px
}
.num LI {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 30px;
	LIST-STYLE-TYPE: none;
	MARGIN:0px;
	WIDTH: 30px;
	FONT-FAMILY: Arial;
	BACKGROUND: url("flashbutton.gif"/*tpa=http://www.wudaoxie666.com/images/flashbutton.gif*/) no-repeat -30px 0px;
	FLOAT: left;
	HEIGHT: 30px;
	COLOR: #86a2b8;
	FONT-SIZE: 22px;
	font-family:"微软雅黑";
	CURSOR: pointer
}
.num LI.on {
	LINE-HEIGHT: 30px;
	WIDTH: 30px;
	BACKGROUND: url("flashbutton.gif"/*tpa=http://www.wudaoxie666.com/images/flashbutton.gif*/) no-repeat;
	HEIGHT: 30px;
	COLOR: #ffffff
}
/*幻灯*/





.rightbar{width:208px;height:619px;position:fixed;top:40%;right:0;margin-top:-280px;background:url("left1.png"/*tpa=http://www.wudaoxie666.com/images/left1.png*/) no-repeat;z-index:10000;text-align:center;color:#fff;-o-transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;transition:all .5s}
.rightbar.close{right:-208px}
.rightbar.close .btn-close{background:url("left4.png"/*tpa=http://www.wudaoxie666.com/images/left4.png*/) no-repeat}
.rightbar .btn-close{width:86px;height:73px;background:url("left2.png"/*tpa=http://www.wudaoxie666.com/images/left2.png*/);position:absolute;top:10px;left:-86px}
.rightbar h6{margin-bottom:10px;padding-top:30px; padding-left:28px;/*右边*/ font-size:18px;line-height:24px;font-weight:700;overflow:hidden}
.rightbar h6 span{display:block;font-size:14px}
.rightbar .code{margin:0 0 10px 35px;/*右边*/width:157px;height:188px;background:#d0b37e; /*微信底色*/}
.rightbar .code p{height:30px;line-height:30px;background:#8e7649;/*微信底色*/margin-bottom:5px;}
.rightbar p{font-size:16px;line-height:24px;margin-bottom:5px; padding-left:20px;/*右边*/}

.rightbar .kefu{margin-left:35px;/*右边*/display:block; width:157px;height:51px;background:url("left3.png"/*tpa=http://www.wudaoxie666.com/images/left3.png*/) no-repeat;line-height:50px;font-size:18px; font-weight:200; font-family:"微软雅黑"; color:#fff;text-decoration:none;margin-bottom:5px}
.rightbar .kefu:hover{background:url("left5.png"/*tpa=http://www.wudaoxie666.com/images/left5.png*/) no-repeat}
